package main

var (
	AccessToken       = "Your Access Token"
	AccessTokenSecret = "Your Access Token Secret"
	ConsumerKey       = "Your Consumer Key"
	ConsumerSecret    = "Your Consumer Key Secret"
	RSSFeedLocation   = "http://your.feed/location"
	DatabaseLocation  = "/your/database/location.db"
	LinkLength        = 23 //t.co shortlink length default
	CacheSize         = 250 //Number of items to hold in the cache
)
